<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bike Station</title>
    <meta name="description" content="Bike Station Locator Project">
    <meta name="author" content="Muskan Gupta">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Custom CSS   -->
    <link href="../static/index.css" rel="stylesheet">

    <!-- Fonts   -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/3dfa83d19f.js"></script>

    <!-- Leaflet Maps -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

</head>
<body>
<div class="flex_wrapped_column">
    <div class="header">
        <h1>NDSU Bike Station Finder</h1>
    </div>
    <div class="myForm">
        <form id="busstationfinder" name="busstationfinder">
            <h2>Enter your location details. All fields are required</h2>
            <div class="form-container">

                <div class="input-container">
                    <label for="address">Address Line</label>
                    <input type="text" id = "address" placeholder="Address" required>
                </div>

                <div class="input-container">
                    <label for="city">City</label>
                    <input type="text" id = "city" placeholder="City" required value="Fargo" disabled>
                </div>

                <div class="input-container">
                    <label for="state">State</label>
                    <input type="text" id = "state" placeholder="State" required value="ND" disabled>
                </div>

                <div class="input-container">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" id = "zipcode"  placeholder="zipcode" required>
                </div>

{#                <div class="input-container">#}
{#                    <label for="radius">Search Radius Range (Miles)</label>#}
{#                    <input type="text" id = "radius" placeholder="Radius" required>#}
{#                </div>#}

                <div class="myBtn">
                    <button id="searchLocations" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="searchResult">
            <div class="closestStation">
                Perform a search
            </div>
            <div class="map" id="map"> </div>
        </div>
    </div>
</div>


<script src="../static/common.js" type="module"></script>
</body>
</html>